body {
    background-color: #dfdfdf;
}

.navicon {
    padding-top:inherit;
    padding-bottom:inherit;
    color: #fcfafa;
}

a {
    color: #247ba0;
}

nav a:hover {
    color: #1f81aa;
}

nav {
    background-color: #535a65;
}

nav a {
    color: #fcfafa;
}

img {
    height: auto;
    max-width: 100%;
    border-radius: .5rem;
}
pre {
    padding-left: 1rem;
    border-radius: 5px;
}

pre, code {
    background-color: rgba(83,90,101,0.1);
}