html {
  font-size: 62.5%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #dfdfdf;
}

h1, h2, h3, h4, h5 {
    font-weight:600;
}

h4 {
    text-transform: uppercase;
}

.navicon {
    padding-top:inherit;
    padding-bottom:inherit;
    color: #fcfafa;
}

a {
    color: #247ba0;
}

nav a:hover {
    color: #1f81aa;
}

nav {
    background-color: #535a65;
}

nav a {
    color: #fcfafa;
}

.nav-recent {
    font-size:1.25rem;
}

img {
    height: auto;
    max-width: 100%;
    border-radius: .5rem;
}
pre {
    padding-left: 1rem;
    border-radius: 5px;
}

pre, code {
    background-color: rgba(83,90,101,0.1);
}

#me-img {
    border-radius:15px;
}

#pub-date {
    font-size:1.35rem;
}